/* body {
    margin: 0;
    background-size: cover;
    color: #333;
} */

header {
    background-color: rgba(76, 175, 80, 0.9);
    color: white;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.profile-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 2em;
    width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.profile-header {
    margin-bottom: 1em;
}

.profile-header img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 3px solid #4CAF50;
}

.profile-header h2 {
    margin: 0.5em 0 0.2em;
    color: #333;
}

.profile-header p {
    margin: 0;
    color: #777;
    font-size: 1em;
}

.profile-details,
.account-details,
.account-settings {
    margin: 1em 0;
    text-align: left;
}

.profile-details h3,
.account-details h3,
.account-settings h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5em;
    color: #eb991f;
}

.profile-details p,
.account-details p {
    margin: 0.5em 0;
    color: #666;
}

.account-settings button {
    width: 40%;
    padding: 0.84em;
    margin: 0.5em 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
